<div class="customer-form">
  <h2>{{ isEdit ? 'Edit Customer' : 'Add Customer' }}</h2>

  <form (ngSubmit)="submitCustomer()" #customerForm="ngForm">
    <label>First Name</label>
    <input type="text" [(ngModel)]="customer.first_name" name="first_name" required />
    <div *ngIf="customerForm.submitted && !customer.name" class="error">Name is required.</div>

    <label>Last Name</label>
    <input type="text" [(ngModel)]="customer.last_name" name="last_name" required />
    <div *ngIf="customerForm.submitted && !customer.name" class="error">Name is required.</div>

    <label>Email</label>
    <input type="email" [(ngModel)]="customer.email" name="email" required email />
    <div *ngIf="customerForm.submitted && !customer.email" class="error">Valid email is required.</div>

    <label>Phone Number</label>
    <input type="number" [(ngModel)]="customer.phone" name="phone" required pattern="^[0-9]{10}$" />
    <div *ngIf="customerForm.submitted && !customer.phone" class="error">Phone number must be 10 digits.</div>

    <label>Address</label>
    <input type="text" [(ngModel)]="customer.address" name="address" required />
    <div *ngIf="customerForm.submitted && !customer.address" class="error">Address is required.</div>

    <label>Date of Birth</label>
    <input type="date" [(ngModel)]="customer.dob" name="dob" required />
    <div *ngIf="customerForm.submitted && !customer.dob" class="error">Date of birth is required.</div>

    <label>National ID</label>
    <input type="text" [(ngModel)]="customer.nationalId" name="nationalId" required />
    <div *ngIf="customerForm.submitted && !customer.nationalId" class="error">National ID is required.</div>

    <label>Gender</label>
    <select [(ngModel)]="customer.gender" name="gender" required>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>

    <button type="submit" class="btn btn-success">{{ isEdit ? 'Update' : 'Add' }} Customer</button>
  </form>

</div>
