<div class="auth-container">
  <div class="auth-box">
    <h2>Register</h2>
    <form (submit)="onRegister()">

      <div class="input-group">
        <label>First Name</label>
        <input type="firstName" [(ngModel)]="first_name" name="firsName" required/>
      </div>
      <div class="input-group">
        <label>Last Name</label>
        <input type="lastName" [(ngModel)]="last_name" name="lastName" required/>
      </div>
      <div class="input-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="email" name="email" required />
      </div>

      <!-- <div class="input-group">
        <label>Role</label>
        <select [(ngModel)]="role" name="role">
          <option value="User">User</option>
          <option value="Customer">Customer</option>
          <option value="Admin">Admin</option>
        </select>
      </div> -->

      <div class="input-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="password" name="password" required />
      </div>

      <button type="submit" class="btn-primary">Register</button>

      <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </form>
  </div>
</div>
